<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Tool</h4>
            <form class="forms-sample" [formGroup]="addToolForm" (ngSubmit)="onSubmit()">
                <div class="form-group" >
                    <select class="btn btn-primary" formControlName="tool_name">
                        <option disabled  value="">Tool Name</option>
                        <option *ngFor="let tool of toolName" value="{{tool.uuid}}">{{tool.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Tool Email id</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email"
                           formControlName="user_email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password"
                           formControlName="user_password">
                </div>
                <div class="form-group">
                    <label for="exampleInputExpiry">Expiry </label>
                    <input type="text" class="form-control" id="exampleInputExpiry" placeholder="Expiry(in days)"
                           formControlName="expiry">
                </div>
                <div class="form-group">
                    <label for="exampleInputMaxUser">Max Allowed Users </label>
                    <input type="text" class="form-control" id="exampleInputMaxUser"
                           placeholder="Maximum user allowed for this id"
                           formControlName="max_users_allowed">
                </div>
                <button type="submit" class="btn btn-success mr-2">Submit</button>
            </form>
        </div>
    </div>
</div>
